<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>Søk etter saker</h1>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Saksid</th> <th>Saksbehandler</th> <th>Kontor</th> <th>Steg</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="caze in cases" ng-click="view_case(caze)">
					<td>
						<a href="#/view/{{caze.caseid}}">{{caze.caseid}}</a>
					</td>
					<td>{{caze.owner}}</td> <td>{{caze.office}}</td> <td>{{caze.step}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
