<div class="row" ng-cloak>
    <div class="col-md-8 col-md-offset-2" ng-if="caze === undefined">
        <h1> Ingen sak </h1>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h1>Sak: {{caze.id}} <small>{{ process }}</small></h1>
        <hr />
        <p>
            <small>Pasient:</small>
            {{patient.name}}
            <button type="button" class="btn btn-default btn-xs" ng-click="showmodal()">Endre</button>
        </p>
        <p><small>Adresse:</small> {{patient.address}}</p>
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" ng-click="prev(caze)" ng-if="caze.step > 1">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{prev_step}}
            </button>
            <button type="button" class="btn btn-default" ng-click="next(caze)" ng-if="caze.step < 3">
                {{next_step}}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
