<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<h1>{{title}}</h1>
		
		<table class="table table-striped table-hover" ng-if="hasNextCase()">
			<thead>
				<tr>
					<th>Saksid</th> <th>Saksbehandler</th> <th>Kontor</th> <th>Steg</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="caze in cases">
					<td>{{caze.caseid}}</td> <td>{{caze.owner}}</td> <td>{{caze.office}}</td> <td>{{caze.step}}</td>
				</tr>
			</tbody>
		</table>
		<button type="button" class="btn btn-default pull-right" ng-click="getNextCase()" ng-if="hasNextCase()">Hent neste</button>
		<div class="alert alert-danger" ng-if="!hasNextCase()">Ingen saker</div>
	</div>
</div>
