<div class="row" ng-cloak>
    <div class="col-md-8 col-md-offset-2" ng-if="alerts.length > 0">
        <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
    </div>
    <div class="col-md-8 col-md-offset-2">
        <h1>Sak: {{caze.id}} <small>{{ process }}</small></h1>
        <div class="panel panel-default">
            <div class="panel-body">
                <p>
                    <small>Pasient:</small>
                    {{person.first_name}} {{person.last_name}}
                    <button type="button" class="btn btn-default btn-xs" ng-click="showPersonSelect()">Endre</button>
                </p>
                <p>
                    <small>Adresse:</small> 
                    {{address | Address}}
                    <button type="button" class="btn btn-default btn-xs" ng-click="showAddressSelect(person)">Velg adresse</button>
                </p>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>Reiser</strong>
            </div>
            <div class="panel-body">
                <div ng-if="current_journey !== undefined">
                    <p>
                        <small>Fra:</small>
                        {{current_journey.departure_nested | Address}}
                        <button type="button" class="btn btn-default btn-xs" ng-click="showJourneyAddressSelect(person, false)">Endre</button>
                    </p>
                    <p>
                        <small>Til:</small>
                        {{current_journey.destination_nested | Address}}
                        <button type="button" class="btn btn-default btn-xs" ng-click="showJourneyAddressSelect(person, true)">Endre</button>
                    </p>
                </div>
                <div ng-if="current_journey === undefined">
                    <p>Velg en reise</p>
                </div>
            </div>
            <table class="table table-condensed">
                <tbody>
                    <tr ng-repeat="journey in journeys"
                        ng-click="set_current_journey($index)"
                        class="{{get_class($index)}}">
                        <td>{{journey.departure_nested | Address}}</td>
                        <td>{{journey.destination_nested | Address}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
                        
        <div class="btn-group pull-right">
            <button type="button" class="btn btn-default" ng-click="prev(caze)" ng-if="caze.step > 1">
                <span class="glyphicon glyphicon-chevron-left"></span>
                {{prev_step}}
            </button>
            <button type="button" class="btn btn-default" ng-click="next(caze)" ng-if="caze.step < 3">
                {{next_step}}
                <span class="glyphicon glyphicon-chevron-right"></span>
            </button>
        </div>
    </div>
</div>
