<div class="modal-header">
    <h3 class="modal-title">Velg person</h3>
</div>
<div class="modal-body">
    <p>Velg en person her</p>
    <ul>
        <li ng-repeat="person in persons">
            <p>
                {{person.first_name}} {{person.last_name}}
                <button class="btn btn-default btn-xs pull-right" ng-click="setPerson(person)">Velg</button>
            </p>
        </li>
    </ul>
    <button class="btn btn-default pull-right" ng-click="search()">Søk</button>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="close()">Avbryt</button>
</div>
